body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: purple;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}


main {
    background-color: pink;
    position: sticky;
    top: 20;
    height: 100vh;
    padding: 20px;
}

footer {
    background-color: gray;
    position: sticky;
    top: 20;
    height: 90vh;
    padding: 40px;
}


.container1{
    border: 2px solid black;
}

.container1, .container2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 400px;
    margin: auto;
    padding: 100px; 
}

.container1__odd_column, .container1__even_column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
}

.container1__odd_column {
    background-color: red; 
    z-index: 1; 
    top: -40px; 
    margin-right: -20px; 
}

.container1__even_column {
    background-color: blue; 
    z-index: 2; 
    top: 40px; 
    margin-right: -40px;
    margin-left: -20px; 
}

img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    padding: 10px;
}

.img, .container2{
    background-color: white;
}

.container2__column_1, .container2__column_2, .container2__column_3, .container2__column_4, .container2__column_5, .container2__column_6, .container2__column_7{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
}


.container2__column_1, .container2__column_3, .container2__column_5, .container2__column_7{
    background-color: #1e7e34;
}


.container2__column_2, .container2__column_4, .container2__column_6{
    background-color: #12330c; 
}


.container2__column_1 {
    z-index: 7; 
    top: -40px; 
    margin-right: -20px; 
}


.container2__column_2 {
    z-index: 6; 
    margin-left: -20px; 
    margin-right: -40px; 
}

.container2__column_3 {
    z-index: 5; 
    top: 40px; 
    margin-right: -40px;  
}

.container2__column_4 {
    z-index: 4; 
    top: 80px; 
    margin-right: -40px;  
}

.container2__column_5 {
    z-index: 3; 
    top: 40px; 
    margin-right: -40px; 
}

.container2__column_6 {
    z-index: 2; 
    top: 0px; 
    margin-right: -40px; 
}

.container2__column_7 {
    z-index: 1; 
    top: -40px;
}
